body {
	background-color:#353840
}
.navbar-dp .container-fluid {
	background:linear-gradient(to right,#0f0429 45%,rgba(198,87,255,0.55) 100%);
	border-color:#242833
}
.navbar-dp .nav>li>a,.leftmenu-wrapper ul li a {
	color:#9fa7bf;
	border-color:#242833
}
.leftmenu-wrapper {
	border-right-color:#242833
}
.navbar-dp .navbar-wide ul.navbar-nav,.leftmenu-wrapper {
	background-color:#191c26
}
.navbar-dp .nav>li.active>a,.leftmenu-wrapper ul li.active a,.navbar-dp .nav>li:hover>a,.leftmenu-wrapper>ul>li:hover>a,.leftmenu-wrapper ul>li:hover>a,.leftmenu-wrapper ul>li:hover>a {
	color:#fff;
	background-color:#303545
}
#acat {
	border-bottom:1px solid #272626
}
.acat-link,.acat-list li a {
	color:#fff
}
#wrapper {
	background:transparent
}
.modul-title .m-title>i {
	color:purple
}
.modul-title .m-title:after {
	background-color:purple
}
.postifit .series-name {
}
.postifit .season-name {
	color:#a5aec7
}
.postifit .episode-name {
	color:#ffd500
}
.postwrap .post_date {
	background:#000
}
.rp_type01,.rp_type02 {
}
.rp_type01 {
}
a,.acat-link.active-letter,.acat-list li a:hover,.wasWatched .el-item .episode-name {
	color:purple
}
.acat-link.active-letter {
	border-bottom-color:purple
}
.nexcblist input:checked+label,.widget-filter .form-control#ajaxif {
	background-color:purple
}
.seriesbox {
	border-left-color:purple
}
a:hover,.acat-list li a {
	color:#29d9c2
}
.stitle,.breadcrumb,.play_area,.ui-block,.other-episodes,.form-wrapper,.stars,.tagcloud,.seriesbox {
}
.tagcloud a,.cbp_type01 .item-hover,.other-episodes .menu li,.nexcblist li label {
	background-color:#1d2029
}
.cbp_type01 .item-hover:before {
	border-color:transparent transparent #1d2029
}
.other-episodes {
	padding:5px
}
.tagcloud a:hover,.other-episodes .menu li.current,.nexcblist input:checked+label {
	transition:all ease .3s
}
footer,.footer-cms {
	background:#111;
	border-color:#000
}
.footer-desc {
	color:#7f8599
}
.ripplelink {
	background:transparent
}
.ripplelink:hover,.open .ripplelink {
	background:#2b2f3d;
	color:#fff;
	border-radius:4px
}
.dropdown-menu {
}
.navbar-nav .dropdown:hover .dropdown-menu,.alternatives .dropdown-menu {
	background:#13062c
}
.dropdown-menu a {
	color:#7a8299
}
.alternatives .dropdown-menu>.active>a,.alternatives .dropdown-menu a:hover,.dropdown-menu a.active,.dropdown-menu>li:hover>a,.leftmenu-wrapper ul .sub-menu li:hover a {
	color:#fff
}
#acat {
}
.dropdown-menu>li>a,.alternatives .dropdown-menu>li>a {
	color:#7a8299
}
.acat-link:hover,.acat-list {
	box-shadow:0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px purple,0 0 30px purple,0 0 40px purple,0 0 55px purple,0 0 75px purple
}
.acat-link,.acat-list li a {
	color:#fff
}
.modul-title {
	background-color:transparent;
	border-color:#2f3547;
	color:#fff
}
.modul-title {
	border-radius:0
}
.leftmenu-wrapper,.navbar-nav {
	font-family:Museo Sans W01 Rounded 500;
	font-size:14px;
	font-weight:400;
	line-height: 14px
}